In [139]:
import PyPDF2
import camelot
import pandas as pd

In [140]:
law_file = open("law-credit-transfer-database.pdf", 'rb')

#store data in pdfReader
pdfReader = PyPDF2.PdfReader(law_file)

#count number of pages
totalPages = len(pdfReader.pages)
totalPages

38

In [141]:
law_pdf = camelot.read_pdf("law-credit-transfer-database.pdf", 
                       pages='1-end') #address of file location
initial_df = pd.DataFrame()

#add data to DF
for i in range(totalPages):
    if i == 0: initial_df = law_pdf[i].df
    else: initial_df = pd.concat([initial_df, law_pdf[i].df], ignore_index=True)

In [142]:
initial_df.columns = initial_df.iloc[0]  
initial_df = initial_df[1:]              
initial_df = initial_df.map(lambda x: x.replace('\n', ' ') if isinstance(x, str) else x)
initial_df = initial_df.map(lambda x: x.replace('S Approved', 'Approved') if isinstance(x, str) else x)
initial_df = initial_df.map(lambda x: x.replace('Approved', '') if isinstance(x, str) else x)
initial_df = initial_df.map(lambda x: x.replace('ince it is a compulsory for students  wishing to practice in Queensland,  exchange students may not be allowed  to take the course', '') if isinstance(x, str) else x)

initial_df

,Exchange Institution,Normal Load2,HKU Subject \n(LLB compulsory or \nPCLL prerequisite)3,Courses Approved,Courses NOT Approved,Last Updated
1,AUSTRALIA,,,,,
2,Adelaide (University of),4 courses per semester (3 units per course),Administrative Law,Administrative Law (LAW2504),,2014.03.04
3,,,Criminal Law I & II,1. Law of Crime (LAW1004); or 2. Criminal ...,,Before 2011
4,,,Equity & Trusts I & II,1. Equity (LAW2005) AND Commercial Equity (...,,2012.06.26
5,,,Introduction to Legal Theory,The Politics of Law,,2013.01.29
...,...,...,...,...,...,...
377,,,Commercial Law,,Not Commercial Law,2014.04.17
378,,,Equity & Trusts I & II,,Not 1. Business Acquisitions; or 2. Trusts...,Before 2011
379,,,Evidence I,,Not Evidence (W74LAW547K),2016.03.22
380,,,Introduction to Legal Theory,"1. Critical Jurisprudence; or 2. Law, Relig...",,2016.07.15
381,Yale University,8–10 courses per year (1.5–3 credits per cou...,Introduction to Legal Theory,1. Justice; or 2. Philosophy of Law 1; or ...,"Not Faith, Morality, and Law",2015.07.26

In [143]:
columns_to_keep = [
    'Exchange Institution',
    'HKU Subject \n(LLB compulsory or  \nPCLL prerequisite)3',
    'Courses Approved',
    ]
initial_df = initial_df[columns_to_keep]
initial_df = initial_df.rename(columns={
    'Exchange Institution': 'University',
    'HKU Subject \n(LLB compulsory or  \nPCLL prerequisite)3': 'HKU-Course-Title',
    'Courses Approved': 'Exchange-Course-Title'
})
initial_df

,University,HKU-Course-Title,Exchange-Course-Title
1,AUSTRALIA,,
2,Adelaide (University of),Administrative Law,Administrative Law (LAW2504)
3,,Criminal Law I & II,1. Law of Crime (LAW1004); or 2. Criminal ...
4,,Equity & Trusts I & II,1. Equity (LAW2005) AND Commercial Equity (...
5,,Introduction to Legal Theory,The Politics of Law
...,...,...,...
377,,Commercial Law,
378,,Equity & Trusts I & II,
379,,Evidence I,
380,,Introduction to Legal Theory,"1. Critical Jurisprudence; or 2. Law, Relig..."
381,Yale University,Introduction to Legal Theory,1. Justice; or 2. Philosophy of Law 1; or ...

In [144]:
initial_df.replace('', pd.NA, inplace=True)
initial_df['University'].fillna(method='ffill', inplace=True) 
initial_df

/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1819583142.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  initial_df['University'].fillna(method='ffill', inplace=True)
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1819583142.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  initial_df['University'].fillna(method='ffill', inplace=True)

,University,HKU-Course-Title,Exchange-Course-Title
1,AUSTRALIA,<NA>,<NA>
2,Adelaide (University of),Administrative Law,Administrative Law (LAW2504)
3,Adelaide (University of),Criminal Law I & II,1. Law of Crime (LAW1004); or 2. Criminal ...
4,Adelaide (University of),Equity & Trusts I & II,1. Equity (LAW2005) AND Commercial Equity (...
5,Adelaide (University of),Introduction to Legal Theory,The Politics of Law
...,...,...,...
377,Washington University in St. Louis,Commercial Law,<NA>
378,Washington University in St. Louis,Equity & Trusts I & II,<NA>
379,Washington University in St. Louis,Evidence I,<NA>
380,Washington University in St. Louis,Introduction to Legal Theory,"1. Critical Jurisprudence; or 2. Law, Relig..."
381,Yale University,Introduction to Legal Theory,1. Justice; or 2. Philosophy of Law 1; or ...

In [145]:
# function to split the string into a list
def split_courses(course_title):
    if pd.isna(course_title):
        return []
    course_title = course_title.strip()
    return(course_title.split("; or"))

In [146]:
# apply the function to the 'Exchange-Course-Title' column
test_df = initial_df.copy()
test_df['Exchange-Course-Title'] = test_df['Exchange-Course-Title'].apply(split_courses)
test_df

,University,HKU-Course-Title,Exchange-Course-Title
1,AUSTRALIA,<NA>,[]
2,Adelaide (University of),Administrative Law,[Administrative Law (LAW2504)]
3,Adelaide (University of),Criminal Law I & II,"[1. Law of Crime (LAW1004), 2. Criminal Law..."
4,Adelaide (University of),Equity & Trusts I & II,[1. Equity (LAW2005) AND Commercial Equity (L...
5,Adelaide (University of),Introduction to Legal Theory,[The Politics of Law]
...,...,...,...
377,Washington University in St. Louis,Commercial Law,[]
378,Washington University in St. Louis,Equity & Trusts I & II,[]
379,Washington University in St. Louis,Evidence I,[]
380,Washington University in St. Louis,Introduction to Legal Theory,"[1. Critical Jurisprudence, 2. Law, Religion..."
381,Yale University,Introduction to Legal Theory,"[1. Justice, 2. Philosophy of Law 1, 3. Ph..."

In [153]:
for i in range(1, len(test_df)):
    if pd.isna(test_df['HKU-Course-Title'].iloc[i]) and test_df['Exchange-Course-Title'].iloc[i] != []:
        test_df['Exchange-Course-Title'].iloc[i - 1].extend(test_df['Exchange-Course-Title'].iloc[i])
        test_df['Exchange-Course-Title'].iloc[i] = []

# check if merged
# test_df.loc[78]

0
University                                         Toronto (University of)
HKU-Course-Title                             Introduction to Legal  Theory
Exchange-Course-Title    [1. Alternative Approaches to Legal  Scholarsh...
Name: 78, dtype: object

In [154]:
# remove empties
test_df = test_df.dropna(subset=['HKU-Course-Title'])
test_df = test_df[test_df['Exchange-Course-Title'].str.len() > 0]

,University,HKU-Course-Title,Exchange-Course-Title
2,Adelaide (University of),Administrative Law,[Administrative Law (LAW2504)]
3,Adelaide (University of),Criminal Law I & II,"[1. Law of Crime (LAW1004), 2. Criminal Law..."
4,Adelaide (University of),Equity & Trusts I & II,[1. Equity (LAW2005) AND Commercial Equity (L...
5,Adelaide (University of),Introduction to Legal Theory,[The Politics of Law]
6,Australian National University,Administrative Law,[Administrative Law]
...,...,...,...
366,Pennsylvania (University of),Introduction to Legal Theory,[1. Legal Theory Workshop 2. Theories of Law]
370,Southern California (University of),Introduction to Legal Theory,"[1. Topics in Philosophy and Law, 2. Law and..."
374,"Washington (University of), Seattle",Introduction to Legal Theory,"[1. Jurisprudence LAW A 595"" (2016.02.24), ..."
380,Washington University in St. Louis,Introduction to Legal Theory,"[1. Critical Jurisprudence, 2. Law, Religion..."
381,Yale University,Introduction to Legal Theory,"[1. Justice, 2. Philosophy of Law 1, 3. Ph..."

In [158]:
# explosion
test_df = test_df.explode('Exchange-Course-Title')
test_df

,University,HKU-Course-Title,Exchange-Course-Title
2,University of Adelaide,Administrative Law,Administrative Law (LAW2504)
3,University of Adelaide,Criminal Law I & II,1. Law of Crime (LAW1004)
3,University of Adelaide,Criminal Law I & II,2. Criminal Law & Procedure (LAW2503)
4,University of Adelaide,Equity & Trusts I & II,1. Equity (LAW2005) AND Commercial Equity (LA...
4,University of Adelaide,Equity & Trusts I & II,2. Equity (LAW2502) AND Commercial Equity (...
...,...,...,...
380,Washington University in St. Louis,Introduction to Legal Theory,3. Jurisprudence Seminar
381,Yale University,Introduction to Legal Theory,1. Justice
381,Yale University,Introduction to Legal Theory,2. Philosophy of Law 1
381,Yale University,Introduction to Legal Theory,3. Philosophy of Law 2
381,Yale University,Introduction to Legal Theory,4. Jurisprudence (20279)

In [159]:
# pre-cleaned
def update_university_name(name):
    if "(University of)" in name:
        return "University of " + name.replace(" (University of)", "").strip()
    return name

test_df['University'] = test_df['University'].apply(update_university_name)
test_df

,University,HKU-Course-Title,Exchange-Course-Title
2,University of Adelaide,Administrative Law,Administrative Law (LAW2504)
3,University of Adelaide,Criminal Law I & II,1. Law of Crime (LAW1004)
3,University of Adelaide,Criminal Law I & II,2. Criminal Law & Procedure (LAW2503)
4,University of Adelaide,Equity & Trusts I & II,1. Equity (LAW2005) AND Commercial Equity (LA...
4,University of Adelaide,Equity & Trusts I & II,2. Equity (LAW2502) AND Commercial Equity (...
...,...,...,...
380,Washington University in St. Louis,Introduction to Legal Theory,3. Jurisprudence Seminar
381,Yale University,Introduction to Legal Theory,1. Justice
381,Yale University,Introduction to Legal Theory,2. Philosophy of Law 1
381,Yale University,Introduction to Legal Theory,3. Philosophy of Law 2
381,Yale University,Introduction to Legal Theory,4. Jurisprudence (20279)

In [ ]:
# errors identified, clean next then merge
test_df.loc[test_df['University'] == ' National University of  Singapore  lease note that All  NUS compulsory  modules (including  Evidence, Company  Law and Equity &  Trusts) is not open to  exchange students.  Also, Law elective are  only offered to  students if they have  completed law course  electives i.e. Contract  Law, Tort, Criminal  Law, Constitutional  Law and Administrative  Law.', 'University'] = 'National University of Singapore'

#50
# 99
# 102
# 112
# 114
# 118
# 121,122
# 124, 125
# 196
# 245
# 281
# 299
# 309
# 322
# 327
# 329
# 363
# 388
# strip everything

In [ ]:
# test_df.to_csv('random_test.csv', index=False)