In [237]:
import PyPDF2
import camelot
import pandas as pd

In [238]:
law_file = open("law-credit-transfer-database.pdf", 'rb')

#store data in pdfReader
pdfReader = PyPDF2.PdfReader(law_file)

#count number of pages
totalPages = len(pdfReader.pages)
totalPages

38

In [239]:
law_pdf = camelot.read_pdf("law-credit-transfer-database.pdf", 
                       pages='1-end') #address of file location
initial_df = pd.DataFrame()

#add data to DF
for i in range(totalPages):
    if i == 0: initial_df = law_pdf[i].df
    else: initial_df = pd.concat([initial_df, law_pdf[i].df], ignore_index=True)

In [240]:
initial_df.columns = initial_df.iloc[0]  
initial_df = initial_df[1:]              
initial_df = initial_df.map(lambda x: x.replace('\n', ' ') if isinstance(x, str) else x)
initial_df = initial_df.map(lambda x: x.replace('S Approved', 'Approved') if isinstance(x, str) else x)
initial_df = initial_df.map(lambda x: x.replace('Approved', '') if isinstance(x, str) else x)
initial_df = initial_df.map(lambda x: x.replace('ince it is a compulsory for students  wishing to practice in Queensland,  exchange students may not be allowed  to take the course', '') if isinstance(x, str) else x)

initial_df

,Exchange Institution,Normal Load2,HKU Subject \n(LLB compulsory or \nPCLL prerequisite)3,Courses Approved,Courses NOT Approved,Last Updated
1,AUSTRALIA,,,,,
2,Adelaide (University of),4 courses per semester (3 units per course),Administrative Law,Administrative Law (LAW2504),,2014.03.04
3,,,Criminal Law I & II,1. Law of Crime (LAW1004); or 2. Criminal ...,,Before 2011
4,,,Equity & Trusts I & II,1. Equity (LAW2005) AND Commercial Equity (...,,2012.06.26
5,,,Introduction to Legal Theory,The Politics of Law,,2013.01.29
...,...,...,...,...,...,...
377,,,Commercial Law,,Not Commercial Law,2014.04.17
378,,,Equity & Trusts I & II,,Not 1. Business Acquisitions; or 2. Trusts...,Before 2011
379,,,Evidence I,,Not Evidence (W74LAW547K),2016.03.22
380,,,Introduction to Legal Theory,"1. Critical Jurisprudence; or 2. Law, Relig...",,2016.07.15
381,Yale University,8–10 courses per year (1.5–3 credits per cou...,Introduction to Legal Theory,1. Justice; or 2. Philosophy of Law 1; or ...,"Not Faith, Morality, and Law",2015.07.26

In [241]:
columns_to_keep = [
    'Exchange Institution',
    'HKU Subject \n(LLB compulsory or  \nPCLL prerequisite)3',
    'Courses Approved',
    ]
initial_df = initial_df[columns_to_keep]
initial_df = initial_df.rename(columns={
    'Exchange Institution': 'University',
    'HKU Subject \n(LLB compulsory or  \nPCLL prerequisite)3': 'HKU-Course-Title',
    'Courses Approved': 'Exchange-Course-Title'
})
initial_df

,University,HKU-Course-Title,Exchange-Course-Title
1,AUSTRALIA,,
2,Adelaide (University of),Administrative Law,Administrative Law (LAW2504)
3,,Criminal Law I & II,1. Law of Crime (LAW1004); or 2. Criminal ...
4,,Equity & Trusts I & II,1. Equity (LAW2005) AND Commercial Equity (...
5,,Introduction to Legal Theory,The Politics of Law
...,...,...,...
377,,Commercial Law,
378,,Equity & Trusts I & II,
379,,Evidence I,
380,,Introduction to Legal Theory,"1. Critical Jurisprudence; or 2. Law, Relig..."
381,Yale University,Introduction to Legal Theory,1. Justice; or 2. Philosophy of Law 1; or ...

In [242]:
initial_df.replace('', pd.NA, inplace=True)
initial_df['University'].fillna(method='ffill', inplace=True) 
initial_df

/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1819583142.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  initial_df['University'].fillna(method='ffill', inplace=True)
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1819583142.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  initial_df['University'].fillna(method='ffill', inplace=True)

,University,HKU-Course-Title,Exchange-Course-Title
1,AUSTRALIA,<NA>,<NA>
2,Adelaide (University of),Administrative Law,Administrative Law (LAW2504)
3,Adelaide (University of),Criminal Law I & II,1. Law of Crime (LAW1004); or 2. Criminal ...
4,Adelaide (University of),Equity & Trusts I & II,1. Equity (LAW2005) AND Commercial Equity (...
5,Adelaide (University of),Introduction to Legal Theory,The Politics of Law
...,...,...,...
377,Washington University in St. Louis,Commercial Law,<NA>
378,Washington University in St. Louis,Equity & Trusts I & II,<NA>
379,Washington University in St. Louis,Evidence I,<NA>
380,Washington University in St. Louis,Introduction to Legal Theory,"1. Critical Jurisprudence; or 2. Law, Relig..."
381,Yale University,Introduction to Legal Theory,1. Justice; or 2. Philosophy of Law 1; or ...

In [243]:
# function to split the string into a list
def split_courses(course_title):
    if pd.isna(course_title):
        return []
    course_title = course_title.strip()
    return course_title.split("; or")

In [244]:
# apply the function to the 'Exchange-Course-Title' column
test_df = initial_df.copy()
test_df['Exchange-Course-Title'] = test_df['Exchange-Course-Title'].apply(split_courses)
test_df

,University,HKU-Course-Title,Exchange-Course-Title
1,AUSTRALIA,<NA>,[]
2,Adelaide (University of),Administrative Law,[Administrative Law (LAW2504)]
3,Adelaide (University of),Criminal Law I & II,"[1. Law of Crime (LAW1004), 2. Criminal Law..."
4,Adelaide (University of),Equity & Trusts I & II,[1. Equity (LAW2005) AND Commercial Equity (L...
5,Adelaide (University of),Introduction to Legal Theory,[The Politics of Law]
...,...,...,...
377,Washington University in St. Louis,Commercial Law,[]
378,Washington University in St. Louis,Equity & Trusts I & II,[]
379,Washington University in St. Louis,Evidence I,[]
380,Washington University in St. Louis,Introduction to Legal Theory,"[1. Critical Jurisprudence, 2. Law, Religion..."
381,Yale University,Introduction to Legal Theory,"[1. Justice, 2. Philosophy of Law 1, 3. Ph..."

In [245]:
for i in range(1, len(test_df)):
    if pd.isna(test_df['HKU-Course-Title'].iloc[i]) and test_df['Exchange-Course-Title'].iloc[i] != []:
        test_df['Exchange-Course-Title'].iloc[i - 1].extend(test_df['Exchange-Course-Title'].iloc[i])
        test_df['Exchange-Course-Title'].iloc[i] = []

# check if merged
# test_df.loc[78]

/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1103545175.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Exchange-Course-Title'].iloc[i] = []
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1103545175.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Exchange-Course-Title'].iloc[i] = []
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1103545175.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Exchange-Course-Title'].iloc[i] = []
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1103545175.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Exchange-Course-Title'].iloc[i] = []
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1103545175.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Exchange-Course-Title'].iloc[i] = []
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1103545175.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Exchange-Course-Title'].iloc[i] = []
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1103545175.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Exchange-Course-Title'].iloc[i] = []
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1103545175.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Exchange-Course-Title'].iloc[i] = []
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1103545175.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Exchange-Course-Title'].iloc[i] = []
/var/folders/nt/67mjll3s4fb1vnp8mvn0q2kh0000gn/T/ipykernel_28042/1103545175.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test_df['Exchange-Course-Title'].iloc[i] = []

In [246]:
# remove empties
test_df = test_df.dropna(subset=['HKU-Course-Title'])
test_df = test_df[test_df['Exchange-Course-Title'].str.len() > 0]

In [247]:
# explosion
test_df = test_df.explode('Exchange-Course-Title')
test_df

,University,HKU-Course-Title,Exchange-Course-Title
2,Adelaide (University of),Administrative Law,Administrative Law (LAW2504)
3,Adelaide (University of),Criminal Law I & II,1. Law of Crime (LAW1004)
3,Adelaide (University of),Criminal Law I & II,2. Criminal Law & Procedure (LAW2503)
4,Adelaide (University of),Equity & Trusts I & II,1. Equity (LAW2005) AND Commercial Equity (LA...
4,Adelaide (University of),Equity & Trusts I & II,2. Equity (LAW2502) AND Commercial Equity (...
...,...,...,...
380,Washington University in St. Louis,Introduction to Legal Theory,3. Jurisprudence Seminar
381,Yale University,Introduction to Legal Theory,1. Justice
381,Yale University,Introduction to Legal Theory,2. Philosophy of Law 1
381,Yale University,Introduction to Legal Theory,3. Philosophy of Law 2
381,Yale University,Introduction to Legal Theory,4. Jurisprudence (20279)

In [248]:
# pre-cleaned
def update_university_name(name):
    if "(University of)" in name:
        return ("University of " + name.replace("(University of)", "")).strip()
    elif "(University  of)" in name:
        return ("University of " + name.replace("(University  of)", "")).strip()
    return name

test_df['University'] = test_df['University'].apply(update_university_name)
test_df['University'].values

array(['University of Adelaide', 'University of Adelaide',
       'University of Adelaide', 'University of Adelaide',
       'University of Adelaide', 'University of Adelaide',
       'Australian National  University',
       'Australian National  University',
       'Australian National  University',
       'Australian National  University',
       'Australian National  University',
       'Australian National  University',
       'Australian National  University', 'Griffith University',
       'Macquarie University', 'Melbourne University',
       'Melbourne University', 'Monash University', 'Monash University',
       'Monash University', 'Monash University', 'Monash University',
       'Monash University', 'Monash University', 'Monash University',
       'University of Queensland', 'University of Queensland',
       'University of Queensland', 'University of Queensland',
       'University of Queensland', 'University of Queensland',
       'University of Sydney', 'University of Sydney',
       'University of Western Australia',
       'University of Western Australia',
       'University of Western Australia',
       'University of Western Australia',
       'University of Western Australia',
       'University of Western Australia', 'University of Alberta',
       'University of British Columbia', 'University of British Columbia',
       'University of British Columbia', 'University of British Columbia',
       'University of British Columbia', 'University of British Columbia',
       'University of British Columbia', 'University of British Columbia',
       'University of British Columbia', 'University of Calgary',
       'McGill University', 'McGill University', 'McGill University',
       'McGill University', 'University of Ottawa',
       'University of Ottawa', 'University of Ottawa',
       'University of Ottawa', 'Queen’s University', 'Queen’s University',
       'Queen’s University', 'Queen’s University', 'Queen’s University',
       'Queen’s University', 'Queen’s University', 'Queen’s University',
       'Queen’s University', 'University of Toronto',
       'University of Toronto', 'University of Toronto',
       'University of Toronto', 'University of Toronto',
       'University of Toronto', 'University of Toronto',
       'University of Toronto', 'University of Victoria',
       'University of Victoria', 'University of Victoria',
       'University of Victoria', 'University of Victoria',
       'University of Western Ontario', 'University of Western Ontario',
       'University of Western Ontario', 'University of Western Ontario',
       'University of Western Ontario', 'University of Western Ontario',
       'University of Western Ontario', 'University of Western Ontario',
       'University of Western Ontario', 'University of Western Ontario',
       'University of Western Ontario',
       'York University   [Osgoode Hall]',
       'York University   [Osgoode Hall]',
       'York University   [Osgoode Hall]',
       'York University   [Osgoode Hall]',
       'York University   [Osgoode Hall]',
       'York University   [Osgoode Hall]',
       'York University   [Osgoode Hall]', 'Fudan University',
       'Fudan University', 'Peking University', 'Peking University',
       'Peking University', 'Tsinghua University', 'Tsinghua University',
       'Tsinghua University', 'Tsinghua University',
       'Tsinghua University', 'Tsinghua University',
       'University of Copenhagen', 'University of Copenhagen',
       'University of Copenhagen', 'University of Copenhagen',
       'Erasmus University  Rotterdam', 'Erasmus University  Rotterdam',
       'Erasmus University  Rotterdam', 'University of Helsinki',
       'University of Helsinki', 'University of Helsinki',
       'University of Helsinki', 'University of Helsinki',
       'University of Helsinki', 'University of Helsinki',
       'University of Helsinki', 'IE University Law  School',
       'Institut d’Etudes  Politiques de Paris  (Sciences Po)',
       'Institut d’Etudes  Politiques de Paris  (Sciences Po)',
       'Institut d’Etudes  Politiques de Paris  (Sciences Po)',
       'Maastricht University', 'Masaryk University',
       'Masaryk University', 'Pompeu Fabra  University',
       'Pompeu Fabra  University', 'Tilburg University',
       'Tilburg University', 'Tilburg University', 'Tilburg University',
       'Uppsala University', 'University of Zurich',
       'University of Zurich', 'Chuo University',
       'University of Auckland', 'University of Auckland',
       'P National University of  Singapore  lease note that All  NUS compulsory  modules (including  Evidence, Company  Law and Equity &  Trusts) is not open to  exchange students.  Also, Law elective are  only offered to  students if they have  completed law course  electives i.e. Contract  Law, Tort, Criminal  Law, Constitutional  Law and Administrative  Law.',
       'P National University of  Singapore  lease note that All  NUS compulsory  modules (including  Evidence, Company  Law and Equity &  Trusts) is not open to  exchange students.  Also, Law elective are  only offered to  students if they have  completed law course  electives i.e. Contract  Law, Tort, Criminal  Law, Constitutional  Law and Administrative  Law.',
       'Singapore  Management  University',
       'Singapore  Management  University',
       'Singapore  Management  University',
       'Singapore  Management  University',
       'Singapore  Management  University',
       'Singapore  Management  University',
       'Singapore  Management  University', 'National Taiwan  University',
       'University of Aberdeen', 'University of Aberdeen',
       'University of Birmingham', 'University of Birmingham',
       'University of Birmingham', 'University of Birmingham',
       'University of Birmingham', 'University of Birmingham',
       'University of Bristol', 'University of Bristol',
       'University of Bristol', 'University of Bristol',
       'University of Bristol', 'University of Bristol',
       'University of Cambridge', 'University of Cambridge',
       'University of Cambridge', 'University of Cambridge',
       'University of Cambridge', 'Cardiff University',
       'University of Durham', 'University of Durham',
       'University of Durham', 'University of Durham',
       'University of Durham', 'University of Durham',
       'University of Durham', 'University of Durham',
       'University of Durham', 'University of Durham',
       'University of Durham', 'University of East Anglia',
       'University of East Anglia', 'University of East Anglia',
       'University of Edinburgh', 'University of Edinburgh',
       'University of Edinburgh', 'University of Edinburgh',
       'University of Edinburgh', 'University of Edinburgh',
       'University of Edinburgh', 'University of Edinburgh',
       'University of Edinburgh', 'University of Exeter',
       'University of Exeter', 'University of Exeter',
       'University of Exeter', 'University of Exeter',
       'University of Exeter', 'University of Exeter',
       'University of Exeter', 'University of Exeter',
       'University of Exeter', 'University of Glasgow',
       'University of Glasgow', 'University of Glasgow',
       'University of Glasgow', 'University of Kent',
       'University of Kent', 'University of Kent', 'University of Kent',
       'University of Kent', 'University of Kent', 'University of Kent',
       'University of Kent', "King's College London",
       "King's College London", "King's College London",
       "King's College London", "King's College London",
       "King's College London", "King's College London",
       "King's College London", "King's College London",
       "King's College London", "King's College London",
       "King's College London", 'University of Leeds',
       'University of Leeds', 'University of Leicester',
       'University of Leicester', 'University of Leicester',
       'University of Leicester', 'University of Leicester',
       'University of Leicester', 'University of Leicester',
       'University of Leicester', 'University of Leicester',
       'University of Leicester', 'University of Leicester',
       'University of Leicester', 'University of Leicester',
       'University of Leicester', 'University of Liverpool',
       'University of Liverpool', 'University of Liverpool',
       'University of Liverpool', 'University of Liverpool',
       'University of Liverpool', 'London School of  Economics',
       'London School of  Economics', 'London School of  Economics',
       'London School of  Economics', 'University of Manchester',
       'University of Manchester', 'University of Manchester',
       'University of Manchester', 'University of Newcastle upon Tyne',
       'University of Newcastle upon Tyne',
       'University of Newcastle upon Tyne',
       'University of Newcastle upon Tyne',
       'University of Newcastle upon Tyne',
       'University of Newcastle upon Tyne',
       'University of Newcastle upon Tyne',
       'University of Newcastle upon Tyne', 'University of Nottingham',
       'University of Nottingham', 'University of Nottingham',
       'University of Nottingham', 'University of Nottingham',
       'University of Nottingham', 'University of Nottingham',
       'University of Nottingham', 'University of Nottingham',
       'University of Nottingham', 'University of Nottingham',
       'University of Nottingham', 'University of Oxford',
       'University of Oxford', 'University of Oxford',
       'University of Oxford', 'University of Oxford',
       'University of Oxford', 'University of Oxford',
       'University of Oxford', 'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London',
       'Queen Mary,  University of London', 'University of Reading',
       'University of Reading', 'University of Reading',
       'University of Sheffield', 'University of Sheffield',
       'University of Sheffield', 'University of Southampton',
       'University of Southampton', 'University of Southampton',
       'University of Southampton', 'University of Southampton',
       'University of Southampton', 'University of Southampton',
       'University of Southampton', 'University of Southampton',
       'University of Southampton', 'University of Southampton',
       'University of Southampton', 'University of Southampton',
       'University of Sussex', 'University of Sussex',
       'University of Sussex', 'Trinity College, Dublin',
       'Trinity College, Dublin', 'Trinity College, Dublin',
       'Trinity College, Dublin', 'University College  London',
       'University College  London', 'University College  London',
       'University College  London', 'University College  London',
       'University College  London', 'University College  London',
       'University College  London', 'University College  London',
       'University College  London', 'University of Warwick',
       'University of Warwick', 'University of Warwick',
       'University of Warwick', 'University of Warwick',
       'University of Warwick', 'University of Warwick',
       'University of York', 'University of York', 'University of York',
       'University of York', 'University of York', 'University of York',
       'University of York', 'University of York', 'University of York',
       'University of York', 'University of York', 'Boston University',
       'Boston University', 'Boston University', 'Brooklyn Law School',
       'Brooklyn Law School', 'Brooklyn Law School',
       'University of California , Berkeley (UC  Berkeley)',
       'University of California  Los Angeles (UCLA)',
       'Cornell University', 'Cornell University', 'Cornell University',
       'Cornell University', 'Cornell University', 'Cornell University',
       'Cornell University', 'Cornell University', 'Duke University',
       'Duke University', 'Duke University', 'Duke University',
       'Duke University', 'Duke University', 'Duke University',
       'Duke University', 'Duke University', 'Duke University',
       'Duke University', 'Duke University', 'Duke University',
       'University of Georgetown', 'University of Georgetown',
       'Indiana University', 'Indiana University', 'Indiana University',
       'University of Michigan', 'Northeastern  University',
       'University of Pennsylvania', 'University of Pennsylvania',
       'University of Pennsylvania', 'University of Southern California',
       'University of Southern California',
       'University of Southern California',
       'University of Southern California',
       'University of Southern California',
       'University of Southern California',
       'University of Washington , Seattle',
       'University of Washington , Seattle',
       'University of Washington , Seattle',
       'Washington University  in St. Louis',
       'Washington University  in St. Louis',
       'Washington University  in St. Louis', 'Yale University',
       'Yale University', 'Yale University', 'Yale University'],
      dtype=object)

In [249]:
# function to split the string into a list
def second_split(course_title):
    if pd.isna(course_title):
        return []
    course_title = course_title.strip()
    split = course_title.split(". ")
    if len(split) == 1: return split
    elif len(split) == 2: return split[1:]
    tbr = split[1:]
    
    for s in range(len(tbr)):
        if tbr[s][-1] in '1234567890':
            tbr[s] = tbr[s][:len(tbr[s]) - 1]
    return tbr

In [250]:
# errors identified, clean next then merge
test_df.loc[test_df['University'] == 'P National University of  Singapore  lease note that All  NUS compulsory  modules (including  Evidence, Company  Law and Equity &  Trusts) is not open to  exchange students.  Also, Law elective are  only offered to  students if they have  completed law course  electives i.e. Contract  Law, Tort, Criminal  Law, Constitutional  Law and Administrative  Law.', 'University'] = 'National University of Singapore'
test_df

,University,HKU-Course-Title,Exchange-Course-Title
2,University of Adelaide,Administrative Law,Administrative Law (LAW2504)
3,University of Adelaide,Criminal Law I & II,1. Law of Crime (LAW1004)
3,University of Adelaide,Criminal Law I & II,2. Criminal Law & Procedure (LAW2503)
4,University of Adelaide,Equity & Trusts I & II,1. Equity (LAW2005) AND Commercial Equity (LA...
4,University of Adelaide,Equity & Trusts I & II,2. Equity (LAW2502) AND Commercial Equity (...
...,...,...,...
380,Washington University in St. Louis,Introduction to Legal Theory,3. Jurisprudence Seminar
381,Yale University,Introduction to Legal Theory,1. Justice
381,Yale University,Introduction to Legal Theory,2. Philosophy of Law 1
381,Yale University,Introduction to Legal Theory,3. Philosophy of Law 2
381,Yale University,Introduction to Legal Theory,4. Jurisprudence (20279)

In [251]:
final_df = test_df.copy()
final_df['Exchange-Course-Title'] = final_df['Exchange-Course-Title'].apply(second_split)
final_df = final_df.explode('Exchange-Course-Title')
final_df['Exchange-Course-Title'] = final_df['Exchange-Course-Title'].map(lambda x: x.replace(';or', '') if isinstance(x, str) else x)
final_df['Exchange-Course-Title'] = final_df['Exchange-Course-Title'].map(lambda x: x.replace('; or', '') if isinstance(x, str) else x)

final_df = final_df[final_df['Exchange-Course-Title'] != ""]
final_df

,University,HKU-Course-Title,Exchange-Course-Title
2,University of Adelaide,Administrative Law,Administrative Law (LAW2504)
3,University of Adelaide,Criminal Law I & II,Law of Crime (LAW1004)
3,University of Adelaide,Criminal Law I & II,Criminal Law & Procedure (LAW2503)
4,University of Adelaide,Equity & Trusts I & II,Equity (LAW2005) AND Commercial Equity (LAW3511)
4,University of Adelaide,Equity & Trusts I & II,Equity (LAW2502) AND Commercial Equity (LAW3511)
...,...,...,...
380,Washington University in St. Louis,Introduction to Legal Theory,Jurisprudence Seminar
381,Yale University,Introduction to Legal Theory,Justice
381,Yale University,Introduction to Legal Theory,Philosophy of Law 1
381,Yale University,Introduction to Legal Theory,Philosophy of Law 2
381,Yale University,Introduction to Legal Theory,Jurisprudence (20279)

In [253]:
# errors identified, clean next then merge
# Institut d‚ÄôEtudes  Politiques de Paris  (Sciences Po) --> Sciences Po
# London School of  Economics --> London School of  Economics and Political Science
# University of California  Los Angeles (UCLA) --> University of California, Los Angeles
# University of California , Berkeley (UC  Berkeley) --> University of California, Berkeley

final_df.loc[final_df['University'] == 'P National University of  Singapore  lease note that All  NUS compulsory  modules (including  Evidence, Company  Law and Equity &  Trusts) is not open to  exchange students.  Also, Law elective are  only offered to  students if they have  completed law course  electives i.e. Contract  Law, Tort, Criminal  Law, Constitutional  Law and Administrative  Law.', 'University'] = 'National University of Singapore'
final_df.loc[final_df['University'] == 'Institut d’Etudes  Politiques de Paris  (Sciences Po)', 'University'] = 'Sciences Po Paris'
final_df.loc[final_df['University'] == 'London School of  Economics', 'University'] = 'London School of  Economics and Political Science'
final_df.loc[final_df['University'] == 'University of California  Los Angeles (UCLA)', 'University'] = 'University of California, Los Angeles'
final_df.loc[final_df['University'] == 'University of California , Berkeley (UC  Berkeley)', 'University'] = 'University of California, Berkeley'

In [258]:
final_df['University-Country'] = ''
final_df['Exchange-Course-Code'] = ''
final_df['HKU-Course-Code'] = ''

# Reorder the columns
final_df = final_df[['University', 
                     'University-Country', 
                     'Exchange-Course-Code', 
                     'Exchange-Course-Title', 
                     'HKU-Course-Code', 
                     'HKU-Course-Title']]

final_df = final_df.sort_values(by='University')
final_df

,University,University-Country,Exchange-Course-Code,Exchange-Course-Title,HKU-Course-Code,HKU-Course-Title
10,Australian National University,,,Evidence,,Evidence I
12,Australian National University,,,Critical Legal Theory,,Introduction to Legal Theory
12,Australian National University,,,Legal Theory (LAWS2249),,Introduction to Legal Theory
11,Australian National University,,,Chinese Law and Society (LAWS4276),,Introduction to Chinese Legal System
6,Australian National University,,,Administrative Law,,Administrative Law
...,...,...,...,...,...,...
96,York University [Osgoode Hall],,,Chinese Law,,Introduction to Chinese Legal System
97,York University [Osgoode Hall],,,Law and History,,Introduction to Legal Theory
97,York University [Osgoode Hall],,,"Law & Religion in Legal, Social, and Politica...",,Introduction to Legal Theory
92,York University [Osgoode Hall],,,Administrative Law,,Administrative Law
97,York University [Osgoode Hall],,,Jurisprudence,,Introduction to Legal Theory

In [256]:
final_df.to_csv('law-credit-transfer-database.csv', index=False)

In [172]:
# test_df.to_csv('compare_random.csv', index=False)